<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Anagram Finder</title>
  </head>
  <body>
    <div id="app">
      <h1>Anagram Finder</h1>
      <div v-if="!allowInput">
      Loading...
      </div>
      <div v-else>
        <label for="input">Input:</label>
        <input id="input" v-model="input"/>
          <div v-if="input">
            <p v-if="items.length === 0">No anagrams found</p>
            <li v-for="item in items" v-else>
              {{ item }}
            </li>
          </div>
      </div>
    </div>
  </body>
</html>

<script type="module">
  import { createApp, ref, onMounted, watch } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  const wordListURL = "https://raw.githubusercontent.com/dwyl/english-words/master/words.txt";
  const anagramMap = {};
  const wordKeyMap = {};
  createApp({
    setup() {
      const input = ref("");
      const items = ref([])
      const allowInput = ref(false);
      watch(input, async (newInput) => {
        const sortedInput = newInput.split('').sort().join('');
        const wordKey = sortedInput.toLowerCase();
        const alphanumericKey = wordKey.replace(/[^a-z0-9]/gi, '');
        if (anagramMap[alphanumericKey]) {
          items.value = anagramMap[alphanumericKey];
        } else {
          items.value = [];
        }
      });
      onMounted(async () => {
        const response = await fetch(wordListURL);
        const wordList = await response.text();
        const wordListArray = wordList.split('\n');
        wordListArray.forEach(word => {
          const wordKey = word.toLowerCase().split('').sort().join('');
          let alphanumericKey
          if (wordKeyMap[wordKey]) {
            alphanumericKey = wordKeyMap[wordKey];
          } else {
            alphanumericKey = wordKey.replace(/[^a-z0-9]/gi, '');
            wordKeyMap[wordKey] = alphanumericKey;
          }
          if (anagramMap[alphanumericKey]) {
            anagramMap[alphanumericKey].push(word);
          } else {
            anagramMap[alphanumericKey] = [word];
          }
        })
        allowInput.value = true;
       });

      return { input, items, allowInput };
    }
  }).mount('#app')
</script>
