<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Anagram Finder</title>
    <style>
      body {
          font-family: Arial, sans-serif;
          margin: 20px;
      }
      #app {
          max-width: 600px;
          margin: 0 auto;
      }
      input {
          width: 100%;
          padding: 8px;
          margin: 10px 0;
      }
      ul {
          list-style-type: none;
          padding: 0;
      }
      li {
          background: #f9f9f9;
          margin: 5px 0;
          padding: 10px;
          border: 1px solid #ddd;
      }
  </style>
  </head>
  <body>
    <div id="app">
      <h1>Anagram Finder</h1>
      <div v-if="!allowInput">
      Loading...
      </div>
      <div v-else>
        <label for="input">Input:</label>
        <input id="input" v-model="input"/>
          <div v-if="input">
            <p v-if="items.length === 0">No anagrams found</p>
            <ul v-else>
              <li v-for="item in items" :key="item">
                {{ item }}
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>

<script type="module">
  import { createApp, ref, onMounted, watch } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

  const wordListURL = "https://raw.githubusercontent.com/dwyl/english-words/master/words.txt";
  const anagramMap = {};
  const wordKeyMap = {};
  createApp({
    setup() {
      const input = ref("");
      const items = ref([])
      const allowInput = ref(false);
      watch(input, async (newInput) => {
        const sortedInput = newInput.split('').sort().join('');
        const wordKey = sortedInput.toLowerCase();
        const alphanumericKey = wordKey.replace(/[^a-z0-9]/gi, '');
        if (anagramMap[alphanumericKey]) {
          items.value = anagramMap[alphanumericKey];
        } else {
          items.value = [];
        }
      });
      onMounted(async () => {
        try {
          const response = await fetch(wordListURL);
          const wordList = await response.text();
          const wordListArray = wordList.split('\n');
          wordListArray.forEach(word => {
            const wordKey = word.toLowerCase().split('').sort().join('');
            let alphanumericKey
            if (wordKeyMap[wordKey]) {
              alphanumericKey = wordKeyMap[wordKey];
            } else {
              alphanumericKey = wordKey.replace(/[^a-z0-9]/gi, '');
              wordKeyMap[wordKey] = alphanumericKey;
            }
            if (anagramMap[alphanumericKey]) {
              anagramMap[alphanumericKey].push(word);
            } else {
              anagramMap[alphanumericKey] = [word];
            }
          })
          allowInput.value = true;
        } catch (error) {
          console.error(error);
        }
      });
      return { input, items, allowInput };
    }
  }).mount('#app')
</script>
